# Environment variables / secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Local/generated data
data/generated/*
!data/generated/*.csv
data/raw/

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp

# Keep safe environment template in Git
!.env.example
